@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');



body {
  font-family: 'Open Sans';
  background: url('https://images.pexels.com/photos/4938190/pexels-photo-4938190.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2') no-repeat center center;
  background-size: cover;
}